/* Reset some default styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Garamond, serif;
    scroll-behavior: smooth;
}

/* Full-page video background */
#bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}


.slides {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.slides1 {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image2.png);
    background-size: cover; /* Make the background cover the entire area */
    background-repeat: no-repeat;
    background-position: 0px 0 px;
    background-repeat: repeat-y;
    text-align: center;

}


/* Overlay with centered text */
.video-overlay {
    text-align: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: rgba(0, 0, 0, 0.5);
}

.centered-text {
    font-size: 1.5em;
    animation: fadeIn 2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.green_first {
    font-size: 1.5em;
    animation: fadeIn 2s ease-in-out;
    align-items: center;
    justify-content: center;
}

.scroll-down-text {
    font-size: 1.2em;
    margin-top: 20px;
    animation: pulse 2s ease-in-out infinite;
    cursor: pointer;

}
​

/* Information section */
.info {
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    color: #fff;
    text-align: center;
    display: none; /* Initially hidden */
}
button {
    margin-top: 60px;
    width: 35px;
    height: 35px;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    animation: pulse 2s ease-in-out infinite;
}

button img {
    width: 100%;
    height: 100%;
}



@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes anim-lineUp {
    0% {
      opacity: 0;
      transform: translateY(80%);
    }
    20% {
      opacity: 0;
    }
    50% {
      opacity: 1;
      transform: translateY(0%);
    }
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }

@media (max-width: 767px) {
    .centered-text{
        font-size: 2em;
        text-align: center;
        margin-right: 35px;
        margin-left: 35px;
        animation: 2s anim-lineUp ease-out;
    }
    .centered-text-intro{
        margin-right: 35px;
        margin-left: 35px;
        text-align: center;
        font-size: 2em; 
        font-family: 'Josefin Sans';
        
    }
    .scroll-down-text {
        margin-top: 50px;
        margin-right: 35px;
        margin-left: 35px;
        text-align: center;
        font-size: 1.2em; 
        font-family: 'Josefin Sans';
    }
    .h4texts{
        margin-right: 35px;
        margin-left: 35px;
        text-align: center;
        font-size: 1.2em; 
        font-family: 'Josefin Sans';
    }
    .green_first{
        color: rgb(83,123,47);
        margin-right: 35px;
        margin-left: 35px;
        text-align: center;
        font-size: 1.8em; 
        font-family: 'Josefin Sans';
    }
    .green_second{
        color: rgb(45,81,40);
        margin-right: 35px;
        margin-left: 35px;
        text-align: center;
        font-size: 2em; 
        font-family: 'Josefin Sans';
    }
    .other{
        margin-top: 100px;
        margin-right: 50px;
        margin-left: 50px;
        text-align: center;
        font-size: 1.2em; 
        font-family: 'Josefin Sans';
    }

    .info {
        padding: 10px;
    }

}